@model QuanLyGiangDay.Models.TGiaoVien

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TGiaoVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenGiaoVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenGiaoVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhaiNu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhaiNu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDanTocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDanTocNavigation.MaDanToc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaQueQuanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaQueQuanNavigation.MaQueQuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTonGiaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTonGiaoNavigation.MaTonGiao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaGiaoVien" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
