@model IEnumerable<QuanLyGiangDay.Models.TGiaoVien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Giáo Viên</h1>

<p>
    <a asp-action="Create">Thêm</a>
</p>
<form asp-action="Index" method="get">
    <p>
        <input type="text" name="SearchString" placeholder="Tìm kiếm" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Tìm kiếm" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenGiaoVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhaiNu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaDanTocNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaQueQuanNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaTonGiaoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenGiaoVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhaiNu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaDanTocNavigation.MaDanToc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaQueQuanNavigation.MaQueQuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTonGiaoNavigation.MaTonGiao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaGiaoVien">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaGiaoVien">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaGiaoVien">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
