@model IEnumerable<QuanLyGiangDay.Models.TDanToc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Dân Tộc</h1>

<p>
    <a asp-action="Create">Thêm</a>
</p>
<form asp-action="Index" method="get">
    <p>
        <input type="text" name="searchString" placeholder="Tìm kiếm theo mã hoặc tên dân tộc">
        <input type="submit" value="Tìm kiếm">
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDanToc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDanToc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDanToc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDanToc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDanToc">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaDanToc">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDanToc">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
