@model QuanLyGiangDay.Models.TSinhVien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết</h1>

<div>
    <h4>TSinhVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoSinhVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoSinhVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSinhVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSinhVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhaiNu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhaiNu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDanTocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDanTocNavigation.MaDanToc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLopNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLopNavigation.MaLop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaQueQuanNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaQueQuanNavigation.MaQueQuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTonGiaoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTonGiaoNavigation.MaTonGiao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaSinhVien">Edit</a> |
    <a asp-action="Index">Trở về danh sách</a>
</div>
