@model QuanLyGiangDay.Models.TPhanCong

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa</h1>
<div>
    <h4>TPhanCong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HocKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HocKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaGiaoVienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaGiaoVienNavigation.MaGiaoVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLopNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLopNavigation.MaLop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaMonHocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaMonHocNavigation.MaMonHoc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaPhanCong" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về danh sách</a>
    </form>
</div>
