@model IEnumerable<QuanLyGiangDay.Models.TPhanCong>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HocKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Năm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaGiaoVienNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaLopNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaMonHocNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HocKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Năm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayKetThuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaGiaoVienNavigation.MaGiaoVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLopNavigation.MaLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaMonHocNavigation.MaMonHoc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaPhanCong">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaPhanCong">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaPhanCong">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
