@model QuanLyGiangDay.Models.TKetQua

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa</h1>
<div>
    <h4>TKetQua</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhanCongNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPhanCongNavigation.MaPhanCong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSinhVienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSinhVienNavigation.MaSinhVien)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaPhanCong" />
        <input type="hidden" asp-for="MaSinhVien" />
        <input type="hidden" asp-for="LanThi" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về danh sách</a>
    </form>
</div>
