@model IEnumerable<QuanLyGiangDay.Models.TKetQua>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kết Quả</h1>

<p>
    <a asp-action="Create">Thêm</a>
</p>
<form method="get">
    <p>
        <label>Tìm kiếm:</label>
        <input type="text" name="searchString" value="@ViewBag.CurrentFilter" />
        <input type="submit" value="Tìm kiếm" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Diem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPhanCongNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSinhVienNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Diem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaPhanCongNavigation.MaPhanCong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSinhVienNavigation.MaSinhVien)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Diem }) |
                    @Html.ActionLink("Details", "Details", new {id = item.Diem }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Diem})
            </td>
        </tr>
}
    </tbody>
</table>
