@model IEnumerable<QuanLyGiangDay.Models.TLop>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lớp</h1>

<p>
    <a asp-action="Create">Thêm</a>
</p>
<form method="get">
    <p>
        <label>Tìm kiếm:</label>
        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Tìm kiếm" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaLop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNganhHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaGvcnNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLop)
           </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNganhHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaGvcnNavigation.MaGiaoVien)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLop">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaLop">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaLop">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
